//Grid
$gutterinpx:20;
$rowmaxwidth:980;
$columns:3;

//Colors
$border:#e6e6e6;
$background: #efefef;
$dark: #39393b;
$text:#333;
$black:#302d2e;
$red:#d8253c;
$submenu:#414040;
$submenu_dark: #353535;
$hover:#992B5D;
$agenda_hover:#fbfafa;
$main:red;
