/* Edit Sidebar --------------------------------------------------------------*/
#edit-sidebar {
  padding: 20px;
  width: 250px;
  background: rgba(231, 231, 231, 0.8);
  border: 1px solid rgba(51, 51, 51, 0.21);
  position: fixed !important;
  z-index: 88;
}
#edit-sidebar ul li a:hover {
  color: #343434;
}
#edit-sidebar h2 {
  color: #343434;
  font-size: 18px;
  text-transform: uppercase;
  margin-bottom: 10px;
}
#edit-sidebar .handle span {
  color: white;
  font-size: 16px;
  position: absolute;
  right: 15px;
  z-index: 1001;
  margin-top: 40px;
  text-indent: 0 !important;
}
#edit-sidebar .handle {
  background-color: $main;
  width: 40px;
  height: 100px;
  text-indent: 0 !important;
  cursor: pointer;
}
#edit-sidebar .handle span::after {
  content: '»';
  color: #FFF;
  text-indent: 0 !important;
}
#edit-sidebar.open .handle span::after {
  content: '«' !important;
}

#edit-sidebar .content {
  background-color: transparent;
  border: none;
}

#edit-sidebar .content a {
  color: $text;
}

#edit-sidebar .content a.active {
  color: $main;
}
