@mixin px-to-rem($org, $line: ($org * 1.5)) {
  font-size : $org + px;
  line-height : ($line) + px;
  font-size : ($org/16) + rem;
  line-height : ($line/16) + rem;
}

$heading-font-family: 'Source Sans Pro', sans-serif;
$heading-font-weight: 500;
$fixed-font-family: 'Source Sans Pro', sans-serif;
$fixed-font-size:12px;
$fixed-line-height: 18px;
$quiet-color:#444444;
$loud-color:#c0266c;

.h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: $heading-font-family; font-weight: $heading-font-weight; color:$loud-color;
  a {
    color:$loud-color
  }
}
.h1, .h2 {  }
.h3, .h4 {  }
.h1 { }
.h2, .h2 a { @include px-to-rem(16,24); text-transform: uppercase; margin-bottom: 18px; font-weight: 500; }
.h3 { }
.h4 { }
.h5 { }

.fixed { font-family: $fixed-font-family; font-size: $fixed-font-size; line-height: $fixed-line-height; }

.typography {
  p,ul,ol,a { @extend .fixed;
    @include px-to-rem(16,24);
    font-weight: 400;
  }
  // span,div {
  //   font-family: $fixed-font-family;
  //   font-size: 16px;
  //   font-size: 1rem;
  // }
}
a {
  color:$loud-color;
}
.quiet { font-color: $quiet-color; }
.loud  { font-color: $loud-color; }

.italic { font-style: italic; }
.bold   { font-weight: 700; @extend .loud; }

.block-margins { margin: 1em 0; }

.unordered-list { list-style-type: disc; }
.ordered-list { list-style: decimal; }

.typography {
  i, em { @extend .italic; }
  b, strong { @extend .bold; }

  h1, .h1 { @extend .h1;  }
  h2, .h2 { @extend .h2;  }
  h3, .h3 { @extend .h3;  }
  h4, .h4 { @extend .h4;  }
  h5, .h5 { @extend .h5;  }
  h6, .h6 { @extend .h6;  }

  p, ul, ol { @extend .block-margins; }

  ul { @extend .unordered-list; }
  ol { @extend .ordered-list; }
}
