@mixin placeholder {
  ::-webkit-input-placeholder {@content}
  :-moz-placeholder           {@content}
  ::-moz-placeholder          {@content}
  :-ms-input-placeholder      {@content}
}

@include placeholder {
    color: #444444;
    @include px-to-rem(12,18);
    padding-left: 5px;
}

#search-box-container {
  float: left;
  margin-top: 5px;
  margin-left: 20px;
}

.search-box {
  legend {
    display: none;
  }
  .field-container {
    position: relative;
    width: 140px;
    float: right;
  }
  input {
    @include appearance(none);
    border:none;
    @include border-radius(none);
    &.text {
      position: absolute;
      height: 26px;
      @include border-radius(1px);
      width: 100%;
      margin-top: 5px;
      padding-left: 5px;
      @include px-to-rem(12,18);
    }
    &.submit {
      border: none;
      position: absolute;
      background-image: url(../images/search.png);
      width: 13px;
      padding: 0;
      height: 13px;
      text-indent: -9999em;
      background-color: transparent;
      right:10px;
      top:12px;
    }
  }
}
.form-horizontal {
  margin-top: 24px;
  .control-group {
    margin-bottom: 20px;
    &:after {
      clear: both;
      display: table;
      line-height: 0;
      content: "";
    }
  }
  label {
    display: block;
  }
  .control-label {
    float: left;
    width: 90px;
    text-align: right;
  }
  .controls {
    margin-left: 110px;
  }
  input[type="text"], input[type="password"] {
    width: 160px;
    height: 28px;
    float: left;
    @include border-radius(3px);
    background-color: #fdfdfd;
    @include box-shadow(inset 0 0 1px rgba(0,0,0,.25));
    border: solid 1px #ccc;
    padding-left:5px;
  }
  .btn {
    @include border-radius(4px);
    background-color: #c0266c;
    @include box-shadow(1px 1px 2px rgba(203,200,194,.25), inset 1px 1px 1px rgba(255,255,255,.65));
    border: solid 1px #CCC;
    @include background-image(linear-gradient(to bottom, #ffffff, #e6e6e6));
    @include px-to-rem(14,18);
    padding: 6px 20px;
    text-shadow:0 1px 1px rgba(255, 255, 255, 0.75);
    &:hover, &:focus {
      color: #333333;
      text-decoration: none;
      cursor: pointer;

      color: #333333;
      text-decoration: none;
      background-position: 0 -15px;
      -webkit-transition: background-position 0.1s linear;
      -moz-transition: background-position 0.1s linear;
      -o-transition: background-position 0.1s linear;
      transition: background-position 0.1s linear;
      @include background-image(linear-gradient(to bottom, #E9E9E9, #E9E9E9));


    }
    &:after {
      clear: both;
      display: table;
      line-height: 0;
      content: "";
    }
  }
}
.date-event {
  color:#a0a0a0;
  margin-bottom: 0;
  margin-top: -18px;
  + p {
    margin-top: 0;
  }
}
select {
  width: auto;
}

textarea {
  width: 220px;
  height: 128px;
  @include border-radius(4px, 3px);
  background-color: #fff;
  @include box-shadow(inset 0 2px #efefef);
  border: solid 1px #dbdbdb;
  font-weight: 300;

  display: block;
  margin: 0;
  width: 100%;
  max-width: 100%;
}
