@mixin grid($lineheight) {
  background-image: -webkit-gradient(linear, 50% 100%, 50% 0%, color-stop(5%, rgba(0, 0, 0, 0.5)), color-stop(5%, rgba(0, 0, 0, 0)));
  background-image: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0.2) 1px, rgba(0, 0, 0, 0) 5%);
  background-image: -moz-linear-gradient(bottom, rgba(0, 0, 0, 0.2) 1px, rgba(0, 0, 0, 0) 5%);
  background-image: -o-linear-gradient(bottom, rgba(0, 0, 0, 0.2) 1px, rgba(0, 0, 0, 0) 5%);
  background-image: linear-gradient(bottom, rgba(0, 0, 0, 0.2) 1px, rgba(0, 0, 0, 0) 5%);
  -webkit-background-size: 100% $lineheight;
  -moz-background-size: 100% $lineheight;
  -o-background-size: 100% $lineheight;
}

body {
  &.grid-on {
    @include grid(6px);
  }
  @include px-to-rem(15,24);
  //$grid-background-total-columns: 12;
}
