
.cssmenu ul,
.cssmenu li,
.cssmenu span,
.cssmenu a {
  margin: 0;
  padding: 0;
  position: relative;
}
.cssmenu {

  width: auto;
  float: left;
  li.first {
    a {
      padding-left: 0;
    }
  }
}
.cssmenu:after,
.cssmenu ul:after {
  content: '';
  display: block;
  clear: both;
}
.cssmenu a {
  display: inline-block;
  text-decoration: none;

}
.cssmenu ul {
  list-style: none;
}
.cssmenu > ul {
  float: left;
}
.cssmenu > ul > li {
  float: left;
}
.cssmenu > ul > li > a {
}

.cssmenu > ul > li:hover:after {
  content: '';
  display: block;
  width: 0;
  height: 0;
  position: absolute;
  left: 50%;
  bottom: 0;

}
.cssmenu > ul > li:first-child > a {

}
.cssmenu > ul > li.active:after {
  content: '';
  display: block;
  width: 0;
  height: 0;
  position: absolute;
  left: 50%;
  bottom: 0;

}
.cssmenu > ul > li.active > a {

}

.cssmenu > ul > li:hover > a {

}
.cssmenu .has-sub {
  z-index: 1;
}
.cssmenu .has-sub:hover > ul {
  display: block;
}
.cssmenu .has-sub ul {
  display: none;
  position: absolute;
  width: auto;
  min-width: 200px;
  background-color: $dark;
  top: 100%;
  left: 0;
}
.cssmenu.account .has-sub ul {
  width: auto;
  min-width: 150px;
}
.cssmenu .has-sub ul li {
  *margin-bottom: -1px;
}
.cssmenu .has-sub ul li a {

  filter: none;

  display: block;
  line-height: 120%;
  padding: 10px;

  padding-left: 20px;
}
.cssmenu .has-sub ul li:hover > a {

  color:#FFF;
}
.cssmenu .has-sub .has-sub:hover > ul {
  display: block;
}
.cssmenu .has-sub .has-sub ul {
  display: none;
  position: absolute;
  left: 100%;
  top: 0;
}

.cssmenu li.has-sub > a {
  &:after {
    height: 5px;
    position: absolute;
    left: 85%;
    width: 5px;
    top: -1px;
  }
}

.cssmenu li.has-sub > a {
  &:hover {
    background-color: $dark;
  }
  li a {

  }
}.cssmenu li.has-sub > a {
  &.active {
    &:after {
      content: url(../images/menu_arrow_up.png);
    }
  }
}
.cssmenu li.has-sub > a:after {

  content: url(../images/menu_arrow.png);

}
.cssmenu .has-sub .has-sub a {
  &:after {
    content: '';
  }
  &:hover {
    background-color: $main;
  }
}
.cssmenu .has-sub .has-sub ul li a:hover {

}

header .menu li {
  &.has-sub li {
    float: none;
  }
}



/* MOBILE MENU */

.bg {
  background-color: $dark;
  height: 40px;
  width: 100%;
  position: relative;
  display: none;
  @include respond-to(medium-screens) {
    display: block;
  }
  @include respond-to(handhelds) {
   display: block;
  }
}

.search-box .field-container {
  @include respond-to(medium-screens) {
    width: 100%;
    float: none;
  }
  @include respond-to(handhelds) {
   width: 100%;
   float: none;
  }
}

.hamburger-menu {
  width: 100%;
  position: absolute;
  //display: none;
  margin-left: 20px;
  background-image: url(../images/menu.svg);
  width: 60px;
  height: 18px;
  background-repeat: no-repeat;
  background-size: 50%;
  margin-top: 10px;
  @include respond-to(medium-screens) {
    display: block;

  }
   @include respond-to(handhelds) {
    display: block;
   }
}




.js-ready {
  //IE has no transitions until IE 10
  #main-nav {
    left: -70%;
    position: relative;
    height: 0;
  }
  //Check for modern browsers with modernizer
  &.csstransforms3d.csstransitions {
    #main-nav {
      left: 0;
      width: 100%;

      @include transform(translate3d(-100%, 0, 0));
      //@include transform(translate3d(0, 0, 0));
    }

  }
  &.csstransforms3d.csstransitions.main-menu {
    #main-nav {
      @include transform(translate3d(0, 0, 0));
      height: auto !important;



    }
  }
}

