@mixin old-ie {
  // Only use this content if we're dealing with old IE
  @if $old-ie {
      @content;
  }
}

a {
   outline: 0;
   text-decoration: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* close commented backslash hack */


@mixin grid($lineheight) {
  background-image: -webkit-gradient(linear, 50% 100%, 50% 0%, color-stop(5%, rgba(0, 0, 0, 0.5)), color-stop(5%, rgba(0, 0, 0, 0)));
  background-image: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0.2) 1px, rgba(0, 0, 0, 0) 5%);
  background-image: -moz-linear-gradient(bottom, rgba(0, 0, 0, 0.2) 1px, rgba(0, 0, 0, 0) 5%);
  background-image: -o-linear-gradient(bottom, rgba(0, 0, 0, 0.2) 1px, rgba(0, 0, 0, 0) 5%);
  background-image: linear-gradient(bottom, rgba(0, 0, 0, 0.2) 1px, rgba(0, 0, 0, 0) 5%);
  -webkit-background-size: 100% $lineheight;
  -moz-background-size: 100% $lineheight;
  -o-background-size: 100% $lineheight;
}


//Make percentage of gutter
@function gutter($num) {
  @return (percentage($num / $rowmaxwidth));
}
//Remove one gutter for the first column
@function singlecolumn($rowmaxwidth, $gutterinpx, $columns) {
  @return (percentage(($rowmaxwidth - ($gutterinpx * ($columns - 1))) / $columns)/$rowmaxwidth);
}

@function push($num) {
  @return (singlecolumn($rowmaxwidth, $gutterinpx, $num)*2) + (gutter($gutterinpx)*2);
}

@function pull($num) {
  @return (singlecolumn($rowmaxwidth, $gutterinpx, $num)*2) + gutter($gutterinpx);
}


$break-small: 640px;
$break-medium: 800px;
$break-large: 1024px;




@mixin respond-to($media) {
  @if $media == handhelds {
    @media only screen and (max-width: $break-small) { @content; }
  }
  @else if $media == small-screens {
    @media only screen and (min-width: $break-small + 1) and (max-width: $break-medium - 1) { @content; }
  }
  @else if $media == medium-screens {
    @media only screen and (min-width: $break-small + 1) and (max-width: $break-large - 1) { @content; }
  }
  @else if $media == wide-screens {
    @media only screen and (min-width: $break-large) { @content; }
  }
}

.hide-medium {
  @include respond-to(medium-screens) {
    display: none !important;
  }
}
.hide-small {
  @include respond-to(handhelds) {
    display: none !important;
  }
}


/* apply a natural box layout model to all elements */
*, *:before, *:after {
  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}

*, ul, a {

}

.row {
  max-width: $rowmaxwidth + px;
  margin: 0pt auto;
  padding-left: 20px;
  padding-right: 20px;
}

[class*='col-'] {
  float: left;
}

.col-1-3 {
  width:singlecolumn($rowmaxwidth, $gutterinpx, $columns);
  margin-left: gutter($gutterinpx);
}

.col-1-3 {
  @include respond-to(handhelds) { width: 100% ; margin-left: 0; }
  @include respond-to(medium-screens) {
    width:100%;
  }
}

.col-2-3 {
  @include respond-to(wide-screens) {
    width:65.9574468085%; //620px
  }
  @include respond-to(medium-screens) {
    width:100%; //620px
  }

  margin-left:0;
}
.main-item {
  @include respond-to(medium-screens) {
    text-align: center;
    display: block;
    background-color: #111;
    padding: 0;
    margin: 0;
    line-height: 0;
  }
}
header {

  ul.menu {
    li {
      float: left;

      a {
        color:#FFF;
        @include px-to-rem(16,46);
        text-transform: uppercase;
        text-decoration: none;
        font-weight: 400;
        display: block;
        padding: 0 30px;
        position: relative;
        &:hover {
          background-color: $red;

        }
        &:after {
          content: '';
          border-right: 1px solid #000;
          position: absolute;
          height: 100%;
          right: 0px;
        }
        &.first {
          &:before {
            content: '';
            border-left: 1px solid #000;
            position: absolute;
            height: 100%;
            left: 0px;
          }
        }
      }
    }
  }
}

.container {

}

.pagination {
  a {
    color:$text;
  }
  .pager-ellipsis, .pager-current {
    float: left;
    padding: 4px 12px;
    line-height: 20px;
    text-decoration: none;
    background-color: #ffffff;
    border: 1px solid #dddddd;
    border-left-width: 0
  }
}

.node {
  .left {
    max-width: 620px;
    img {
      float: left;
      margin-right: 20px;
      margin-top: 5px;
      line-height: 0;
      max-width: 100%;
      height: auto;
    }
  }
  .right {
    p {
      margin-top: 0;
    }
  }
}

pre[class*='language-'] > code[data-language] {
  overflow: visible !important;
  max-height: 28em;
  display: block;
}
code > .token.atrule {
  margin-left: -20px;
}
