
.navbar {
  background-color: $main;
  padding: 12px 0;

  .toggle-menu {
    display: block;
    background-image: url(../images/menu.svg);
    @if $lte-ie9 {
      background-image: url(../images/menu.png);
    }
    width: 60px;
    height: 18px;
    background-repeat: no-repeat;
    background-size: 50%;
  }
}


nav {
  position: absolute;
  background-color: $submenu;
  height: calc(100%);
  overflow: hidden;
  .sidemenu {
    li {
      position: relative;
      &.active-ul {
        > a {
          background-color: $submenu_dark;
          //background-image: url(images/menu-arrow.png); //open
          &:after {
            content: url(../images/menu_arrow_up.png) !important;
          }
        }
      }

      &.has-submenu {
        position: relative;

        > a{
          &:after {
            content: url(../images/menu_arrow.png);
          }
        }
        a {
          padding: 10px 20px 10px;
          display: block;
          //background-image: url(images/menu-arrow.png);
          background-position: 94% 40%;
          background-repeat: no-repeat;
          position: relative;
           &:after {

            height: 5px;
            position: absolute;
            left: 90%;
            width: 3px;
          }

          &:hover {
            background-color: $main;
          }
        }
      }
      a {
        padding: 10px 20px 10px;
        display: block;
        color:#FFF;
        @include px-to-rem(13,30);
        font-weight: 500;
        text-transform: uppercase;

        &:hover {
          background-color: $main;
        }
      }

      &:after {
        content:'';
        position: absolute;

        border-bottom: 1px solid #4E4E4E;

        width: 100%;
        position: absolute;
        left:0;
        bottom: -4px;
      }
    }
  }
}

nav .submenu li {
  position: relative;
  border-bottom: 1px solid $submenu_dark;
  &:after {
    //content:url(images/divider.png);
    content: ' ';
    bottom:-4px;
    width: 100%;
    position: absolute;
    left: 0;
  }
  //submenu a
  a {

    padding-left: 40px !important;
    text-transform: uppercase;
    font-weight: 400;
  }
}
/* Wrapper elements */
html, body {
  height: 100%;
}
#inner-wrap, #outer-wrap {
  position: relative;
}
#outer-wrap {
  overflow: hidden;
}
.js-ready.js-nav {
  @if $lte-ie9 {
    #inner-wrap {
      left: 0;
    }
  }
}

.js-ready.js-nav {
  @if $lte-ie9 {
    #inner-wrap {
      height: 100%;
      #nav {
        //position: absolute;
        height: 100%;
        left: 0 !important;
        width: 320px;
      }
    }
  }
}

.js-ready {
  //IE has no transitions until IE 10
  #nav {
    left: -70%;
  }
  //Check for modern browsers with modernizer
  &.csstransforms3d.csstransitions {
    #nav {
      left: 0;
      width: 320px;
      @include transform(translate3d(-100%, 0, 0));
    }
    #inner-wrap {
      @include transform(translate3d(0, 0, 0));
      @include transition(all 500ms ease);
    }
    //Active body class
    &.js-nav {
      #inner-wrap {
        @include transform(translate3d(320px, 0, 0));
      }
    }
  }
}

.js-ready {
  &.js-nav {
    #inner-wrap {
      @if $lte-ie9 {
        padding-left: 320px;
      }
    }
  }
}
