.fullrow {
  margin: 0pt auto;
  max-width: 1300px;
  margin-bottom: -75px;

}
.bottom_slider {
  .fullrow {
    margin-bottom: 0;
    position: relative;
  }
}
.main-content {
  .row.ontop {
    z-index: 300;
    position: relative;
  }
  .top-slider {
    z-index: 1;
    position: relative;
    .row {
      margin-bottom: -75px;
    }

    background-color: #FFFFFF;
    margin-top: -54px;
    margin-bottom: 54px;
    .slide {
      position: relative;
      overflow:hidden;
      float:left;
      font-family: 'Roboto',sans-serif;
      line-height: 18px;
      img {
        max-width: 100%;
        height: auto;
        line-height: 0;
      }
      .text {
        background-color: $main;
        bottom: 40px;
        color: #FFFFFF;
        //left: 90px;
        min-height: 150px;
        opacity: 0.9;
        position: absolute;
        width: 360px;
        h2 {
          padding: 20px 20px 0;
          font-weight: 800; //black
          text-transform: uppercase;
          @include px-to-rem(18,36);
        }
        p {
          padding: 0 20px 20px;
          color: #FFFFFF;
           @include px-to-rem(12,18);
           span.readmore {
            position: relative;
            width: 14px;
            height: 14px;
            @include border-radius(7px);
            background-color: #FFF;
            display: inline-block;
            top: 5px;
            margin-left: 4px;
            &:before {
              position: absolute;
              left: 4px;
              content: url(../images/readmore-pink.png);
              z-index: 44;
              top: -3px;
              margin-left: 0;
            }
          }
        }
      }
    }
  }

  .bottom_slider {
    position: relative;
    background-color: #fff;
    overflow: hidden;
  }

  #partner_slider {
    position: relative;
    text-align: center;
    padding-top: 10px;
  }

  #partner_slider .slide {
    img {
      filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 3.5+ */
      filter: gray; /* IE6-9 */
      -webkit-filter: grayscale(100%); /* Chrome 19+ & Safari 6+ */
      max-width: 100%;
      height: auto;
      &:hover {
        filter: none;
        -webkit-filter: grayscale(0%);
      }
    }
  }
  .navigation {
    display: block;
    width: 32px;
    height: 32px;
    @include border-radius(2px);
    background-color: $main;
    position: absolute;
    z-index: 55;
    top:40px;
    &:hover {
      background-color: $hover;
    }
    &.partner_slider_next {
      right:0;
      &:before {
        content: url(../images/next.png);
      }
    }
    &.partner_slider_prev {
      left:0;
      &:before {
        content: url(../images/prev.png);
      }
    }
    &:before {
      position: absolute;
      left: 11px;
      z-index: 44;
      top: 9px;
      margin-left: 0;
    }
  }
}
.swiper-slide {
  &:hover {
    cursor: -webkit-grab;
  }
}
#logo-slider {
  position: relative;
  overflow: hidden;
  .swiper-slide {
    text-align: center;
  }
  .logo-slider_prev {
    left: 0;
    top:30px;
    &:before {
      content: url(../images/prev.png);
    }
  }
  .logo-slider_next {
    right: 0;
    top:30px;
    &:before {
      content: url(../images/next.png);
    }
  }

}
